@charset "UTF-8";
    .fb-livechat,  .fb-widget {
    display:  none;
}
.ctrlq.fb-button,  .ctrlq.fb-close {
    position:  fixed;
    right:  24px;
    cursor:  pointer;
}
.ctrlq.fb-button {
    z-index:  999;
    width:  60px;
    height:  60px;
    text-align:  center;
    bottom:  50%;
    border:  0;
    outline:  0;
    border-radius:  60px;
    -webkit-border-radius:  60px;
    -moz-border-radius:  60px;
    -ms-border-radius:  60px;
    -o-border-radius:  60px;
    box-shadow:  0 1px 6px rgba(0,  0,  0,  .06),  0 2px 32px rgba(0,  0,  0,  .16);
    -webkit-transition:  box-shadow .2s ease;
    background-size:  80%;
    transition:  all .2s ease-in-out;
}
.ctrlq.fb-button:focus,  .ctrlq.fb-button:hover {
    transform:  scale(1.1);
    box-shadow:  0 2px 8px rgba(0,  0,  0,  .09),  0 4px 40px rgba(0,  0,  0,  .24);
}
.fb-widget {
    background:  #fff;
    z-index:  1000;
    position:  fixed;
    width:  360px;
    height:  435px;
    overflow:  hidden;
    opacity:  0;
    bottom:  0;
    right:  24px;
    border-radius:  6px;
    -o-border-radius:  6px;
    -webkit-border-radius:  6px;
    box-shadow:  0 5px 40px rgba(0,  0,  0,  .16);
    -webkit-box-shadow:  0 5px 40px rgba(0,  0,  0,  .16);
    -moz-box-shadow:  0 5px 40px rgba(0,  0,  0,  .16);
    -o-box-shadow:  0 5px 40px rgba(0,  0,  0,  .16);
}
.fb-credit {
    text-align:  center;
    margin-top:  8px;
}
.fb-credit a {
    transition:  none;
    color:  #bec2c9;
    font-family:  Helvetica,  Arial,  sans-serif;
    font-size:  12px;
    text-decoration:  none;
    border:  0;
    font-weight:  400;
}
.ctrlq.fb-overlay {
    z-index:  0;
    position:  fixed;
    height:  100vh;
    width:  100vw;
    -webkit-transition:  opacity .4s,  visibility .4s;
    transition:  opacity .4s,  visibility .4s;
    top:  0;
    left:  0;
    background:  rgba(0,  0,  0,  .05);
    display:  none;
}
.ctrlq.fb-close {
    z-index:  4;
    padding:  0 6px;
    background:  #365899;
    font-weight:  700;
    font-size:  11px;
    color:  #fff;
    margin:  8px;
    border-radius:  3px;
}
.ctrlq.fb-close::after {
    content:  "X";
    font-family:  sans-serif;
}
.bubble {
    width:  20px;
    height:  20px;
    background:  #c00;
    color:  #fff;
    position:  absolute;
    z-index:  999999999;
    text-align:  center;
    vertical-align:  middle;
    top:  -2px;
    left:  -5px;
    border-radius:  50%}
.bubble-msg {
    width:  120px;
    left:  -140px;
    top:  5px;
    position:  relative;
    background:  rgba(59,  89,  152,  .8);
    color:  #fff;
    padding:  5px 8px;
    border-radius:  8px;
    text-align:  center;
    font-size:  13px;
}
.bx-wrapper {
    position:  relative;
    margin-bottom:  30px;
    padding:  0;
}
.bx-wrapper img {
    max-width:  100%;
    display:  block;
}
.bxslider {
    margin:  0;
    padding:  0;
}
ul.bxslider {
    list-style:  none;
}
.bx-viewport {
    -webkit-transform:  translatez(0);
}
.bx-wrapper {
    -webkit-box-shadow:  0 0 5px #ccc;
    box-shadow:  0 0 5px #ccc;
    border:  5px solid #fff;
    background:  #fff;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position:  absolute;
    bottom:  -30px;
    width:  100%}
.bx-wrapper .bx-loading {
    min-height:  50px;
    height:  100%;
    width:  100%;
    position:  absolute;
    top:  0;
    left:  0;
    z-index:  2000;
}
.bx-wrapper .bx-pager {
    text-align:  center;
    font-size:  .85em;
    font-family:  Arial;
    font-weight:  bold;
    color:  #666;
    padding-top:  20px;
    display:  none;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background:  #666;
    text-indent:  -9999px;
    display:  block;
    width:  10px;
    height:  10px;
    margin:  0 5px;
    outline:  0;
    -webkit-border-radius:  5px;
    border-radius:  5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background:  #000;
}
.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display:  inline-block;
    vertical-align:  bottom;
}
.bx-wrapper .bx-pager-item {
    font-size:  0;
    line-height:  0;
}
.bx-wrapper .bx-prev {
    left:  10px;
}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
    background-position:  0 0;
}
.bx-wrapper .bx-next {
    right:  10px;
}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
    background-position:  -43px 0;
}
.bx-wrapper .bx-controls-direction a {
    position:  absolute;
    top:  50%;
    margin-top:  -16px;
    outline:  0;
    width:  32px;
    height:  32px;
    text-indent:  -9999px;
    z-index:  9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display:  none;
}
.bx-wrapper .bx-controls-auto {
    text-align:  center;
}
.bx-wrapper .bx-controls-auto .bx-start {
    display:  block;
    text-indent:  -9999px;
    width:  10px;
    height:  11px;
    outline:  0;
    margin:  0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus {
    background-position:  -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
    display:  block;
    text-indent:  -9999px;
    width:  9px;
    height:  11px;
    outline:  0;
    margin:  0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus {
    background-position:  -86px -33px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align:  left;
    width:  80%}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right:  0;
    width:  35px;
}
.bx-wrapper .bx-caption {
    position:  absolute;
    bottom:  0;
    left:  0;
    background:  #666;
    background:  rgba(80,  80,  80,  0.75);
    width:  100%}
.bx-wrapper .bx-caption span {
    color:  #fff;
    font-family:  Arial;
    display:  block;
    font-size:  .85em;
    padding:  10px;
}
html,  body,  div,  span,  applet,  object,  iframe, h1,  h2,  h3,  h4,  h5,  h6,  p,  blockquote,  pre, a,  abbr,  acronym,  address,  big,  cite,  code, del,  dfn,  em,  font,  img,  ins,  kbd,  q,  s,  samp, small,  strike,  strong,  sub,  sup,  tt,  var, b,  u,  i,  center, dl,  dt,  dd,  ol,  ul,  li, fieldset,  form,  label,  legend, table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td {
    margin:  0;
    padding:  0;
    border:  0;
    outline:  0;
    font-size:  100%;
    vertical-align:  baseline;
    background:  transparent;
}
body {
    line-height:  1;
}
ol,  ul {
    list-style:  none;
}
blockquote,  q {
    quotes:  none;
}
blockquote:before,  blockquote:after, q:before,  q:after {
    content:  '';
    content:  none;
}
:focus {
    outline:  0;
}
ins {
    text-decoration:  none;
}
del {
    text-decoration:  line-through;
}
table {
    border-collapse:  collapse;
    border-spacing:  0;
}
a {
    text-decoration:  none;
}
* {
    -webkit-box-sizing:  border-box;
    box-sizing:  border-box;
}
.clear-fix:after, .clear-fix:before {
    clear:  both;
    content:  "";
    display:  block;
    height:  0;
    line-height:  0;
    visibility:  hidden;
}
.mb-20 {
    margin-bottom:  20px !important;
}
.text-cent {
    text-align:  center !important;
}
body {
    font-size:  62.5%;
    font-family:  Tahoma,  Geneva,  sans-serif;
    line-height:  1.5;
}
.spencial_col {
    color:  #f76525;
}
header .top-banner {
    background-color:  #0d4379;
    background-color:  #299ed8;
}
header .top-banner h1 {
    max-width:  1000px;
    margin:  0 auto;
}
header .top-banner h1 a:hover {
    opacity:  0.7;
}
header .top-banner h1 img {
    width:  100%}
header .menu-pc .menu-full {
    background:  #1889c1;
}
header .menu-pc .menu-full .menu-content {
    max-width:  1000px;
    margin:  0 auto;
}
header .menu-pc .menu-full .menu-content .parent {
    display:  -webkit-flex;
    display:  -ms-flexbox;
    display:  -webkit-box;
    display:  flex;
    -webkit-justify-content:  flex-start;
    -ms-flex-pack:  start;
    -webkit-box-pack:  start;
    justify-content:  flex-start;
    -ms-align-items:  center;
    -webkit-align-items:  center;
    -ms-flex-align:  center;
    -webkit-box-align:  center;
    align-items:  center;
}
header .menu-pc .menu-full .menu-content .parent li {
    position:  relative;
    padding:  10px 0;
    margin-right:  50px;
}
header .menu-pc .menu-full .menu-content .parent li:last-child {
    margin-right:  0;
}
header .menu-pc .menu-full .menu-content .parent li a {
    color:  #fff;
    font-size:  14px;
    text-transform:  uppercase;
}
header .menu-pc .menu-full .menu-content .parent li .child {
    display:  none;
    position:  absolute;
    z-index:  999;
    background:  #fff;
    top:  100.5%;
    width:  300px;
    -webkit-transition:  visibility 0s linear 0.5s,  opacity 0.25s linear;
    -o-transition:  visibility 0s linear 0.5s,  opacity 0.25s linear;
    transition:  visibility 0s linear 0.5s,  opacity 0.25s linear;
}
header .menu-pc .menu-full .menu-content .parent li .child li {
    margin-right:  0;
}
header .menu-pc .menu-full .menu-content .parent li .child li:hover {
    background-color:  #1889c1;
}
header .menu-pc .menu-full .menu-content .parent li .child li:hover a {
    color:  #fff;
    padding-left:  20px;
    transition:  all 800ms;
    -webkit-transition:  all 800ms;
    -moz-transition:  all 800ms;
    -webkit-transition:  all 800ms;
    -o-transition:  all 800ms;
}
header .menu-pc .menu-full .menu-content .parent li .child li:hover a:before {
    background:  #fff;
}
header .menu-pc .menu-full .menu-content .parent li .child li a {
    padding:  8px;
    color:  #000;
    font-size:  11px;
    transition:  all 800ms;
    -webkit-transition:  all 800ms;
    -moz-transition:  all 800ms;
    -webkit-transition:  all 800ms;
    -o-transition:  all 800ms;
}
header .menu-pc .menu-full .menu-content .parent li .child li a:before {
    content:  "";
    width:  10px;
    height:  10px;
    background:  #1889c1;
    display:  inline-block;
    -webkit-border-radius:  50%;
    border-radius:  50%;
    margin-right:  10px;
}
header .menu-pc .menu-full .menu-content .parent li:hover .child {
    display:  block;
    transition:  all 300ms;
    -webkit-transition:  all 300ms;
    -moz-transition:  all 300ms;
    -webkit-transition:  all 300ms;
    -o-transition:  all 300ms;
}
header .header-icon {
    display:  none;
}
header .header-icon {
    display:  none;
    width:  40px;
    height:  30px;
    margin-top:  5px;
    position:  relative;
    margin-right:  20px;
    float:  right;
    -webkit-transform:  rotate(0deg);
    -ms-transform:  rotate(0deg);
    transform:  rotate(0deg);
    -webkit-transition:  .5s ease-in-out;
    -o-transition:  .5s ease-in-out;
    transition:  .5s ease-in-out;
    cursor:  pointer;
}
header .header-icon span {
    display:  block;
    height:  5px;
    width:  100%;
    background:  #04bee4;
    -webkit-border-radius:  5px;
    border-radius:  5px;
    opacity:  1;
    left:  0;
    margin-bottom:  5px;
    -webkit-transform:  rotate(0deg);
    -ms-transform:  rotate(0deg);
    transform:  rotate(0deg);
    -webkit-transition:  .25s ease-in-out;
    -o-transition:  .25s ease-in-out;
    transition:  .25s ease-in-out;
}
header .header-icon span:nth-child(3) {
    margin-bottom:  0;
}
header .header-icon.open span {
    position:  absolute;
}
header .header-icon.open span:nth-child(1) {
    top:  10px;
    -webkit-transform:  rotate(135deg);
    -ms-transform:  rotate(135deg);
    transform:  rotate(135deg);
}
header .header-icon.open span:nth-child(2) {
    display:  none;
}
header .header-icon.open span:nth-child(3) {
    top:  10px;
    -webkit-transform:  rotate(-135deg);
    -ms-transform:  rotate(-135deg);
    transform:  rotate(-135deg);
}
header .menu-sp {
    display:  none;
    width:  300px;
    position:  fixed;
    right:  -300px;
    background:  #04bee4;
    height:  100%;
    -webkit-transition:  right 1s;
    -o-transition:  right 1s;
    transition:  right 1s;
    top:  50px;
    z-index:  99999;
    overflow:  scroll;
}
header .menu-sp.open {
    width:  100%;
    right:  0;
    -webkit-transition:  right 1s;
    -o-transition:  right 1s;
    transition:  right 1s;
}
header .menu-sp ul>li a {
    padding:  15px 0px;
    border-bottom:  1px solid #ffffff;
    color:  #fff;
    width:  -webkit-calc(100% - 20px);
    width:  calc(100% - 20px);
    display:  inline-block;
    font-size:  14px;
    margin:  0 10px;
}
header .menu-sp ul>li .child {
    display:  none;
}
header .menu-sp ul>li .child li a {
    width:  -webkit-calc(100% - 40px);
    width:  calc(100% - 40px);
    margin-left:  20px;
}
header .menu-sp ul>li.active {
    transition:  all 500ms;
    -webkit-transition:  all 500ms;
    -moz-transition:  all 500ms;
    -webkit-transition:  all 500ms;
    -o-transition:  all 500ms;
}
header .menu-sp ul>li.active .child {
    display:  block;
    transition:  all 500ms;
    -webkit-transition:  all 500ms;
    -moz-transition:  all 500ms;
    -webkit-transition:  all 500ms;
    -o-transition:  all 500ms;
}
.banner {
    max-width:  1000px;
    margin:  0 auto;
    padding:  20px 0;
}
.top-banner h1 {
    width:  100px;
    float:  left;
}
.top-banner .info-contact {
    max-width:  1000px;
    margin:  0 auto;
    color:  #fff;
    text-align:  center;
    float:  right;
}
.info-contact h2 {
    font-size:  30px;
    font-weight:  normal;
    text-transform:  uppercase;
    line-height:  1;
    margin-bottom:  5px;
}
.info-contact h3 {
    font-size:  24px;
    font-weight:  normal;
    color:  #e6f828;
    text-transform:  uppercase;
    margin-bottom:  15px;
}
.info-contact p {
    font-size:  20px;
    text-align:  right;
}
#slide {
    background-color:  #f0ede5;
}
#slide .slide-content {
    max-width:  1000px;
    margin:  0 auto;
}
#content {
    max-width:  1000px;
    margin:  0 auto;
}
.menu-left {
    float:  left;
    width:  27%;
    z-index:  10;
    list-style:  none;
    line-height:  1;
    display:  block;
    position:  relative;
}
.menu-left ul {
    list-style:  none;
    line-height:  1;
    display:  block;
    position:  relative;
    border:  1px solid #ccc;
    -webkit-border-radius:  5px;
    border-radius:  5px;
    background:  #fff;
    background:  -webkit-gradient(linear,  left bottom,  left top,  from(#f0f0f0),  to(#fff));
    background:  -webkit-linear-gradient(bottom,  #f0f0f0,  #fff);
    background:  -o-linear-gradient(bottom,  #f0f0f0,  #fff);
    background:  linear-gradient(to top,  #f0f0f0,  #fff);
    margin-bottom:  30px;
}
.menu-left ul li {
    border-bottom:  1px solid #ccc;
    list-style:  none;
    line-height:  1;
    display:  block;
    position:  relative;
}
.menu-left ul li a {
    transition:  all 500ms;
    -webkit-transition:  all 500ms;
    -moz-transition:  all 500ms;
    -webkit-transition:  all 500ms;
    -o-transition:  all 500ms;
}
.menu-left ul li a:hover {
    color:  #1fbdff;
    transition:  all 500ms;
    -webkit-transition:  all 500ms;
    -moz-transition:  all 500ms;
    -webkit-transition:  all 500ms;
    -o-transition:  all 500ms;
    padding-left:  20px;
}
.menu-left ul li.active {
    border-bottom:  0;
    left:  -8px;
    width:  105%;
    padding:  2px;
    background:  #ce4c4a;
    background:  -webkit-gradient(linear,  left bottom,  left top,  from(#c43735),  to(#d56462));
    background:  -webkit-linear-gradient(bottom,  #c43735,  #d56462);
    background:  -o-linear-gradient(bottom,  #c43735,  #d56462);
    background:  linear-gradient(to top,  #c43735,  #d56462);
    -webkit-box-shadow:  0 1px 1px rgba(0,  0,  0,  0.25);
    box-shadow:  0 1px 1px rgba(0,  0,  0,  0.25);
}
.menu-left ul li.active a {
    list-style:  none;
    line-height:  1;
    display:  block;
    position:  relative;
    padding:  12px 12px 12px 16px;
    border-left:  1px dashed #de8886;
    border-top:  1px dashed #de8886;
    border-bottom:  1px dashed #de8886;
    color:  #fff;
    text-shadow:  0 1px 1px #8c2726;
}
.menu-left ul li.active a:after {
    position:  absolute;
    bottom:  -7px;
    left:  -11px;
    z-index:  -1;
    width:  0;
    height:  0;
    border-top:  4px solid transparent;
    border-bottom:  4px solid transparent;
    border-left:  8px solid transparent;
    border-right:  8px solid #982b29;
    content:  ""}
.menu-left ul li.active:after {
    position:  absolute;
    right:  -16px;
    top:  7px;
    width:  31.526911934581186px;
    height:  31.526911934581186px;
    background:  #ce4c4a;
    background:  -webkit-linear-gradient(135deg,  #c43735,  #d56462);
    background:  -o-linear-gradient(135deg,  #c43735,  #d56462);
    background:  linear-gradient(-45deg,  #c43735,  #d56462);
    -webkit-transform:  rotate(45deg);
    -ms-transform:  rotate(45deg);
    transform:  rotate(45deg);
    content:  ""}
.menu-left ul li.active:before {
    position:  absolute;
    right:  -12px;
    top:  9px;
    z-index:  10;
    width:  28.526911934581186px;
    height:  28.526911934581186px;
    border-right:  1px dashed #e9afae;
    border-top:  1px dashed #e9afae;
    -webkit-transform:  rotate(45deg);
    -ms-transform:  rotate(45deg);
    transform:  rotate(45deg);
    content:  ""}
.menu-left ul li:last-child {
    border-bottom:  0;
}
.menu-left ul li a {
    display:  block;
    padding:  10px;
    line-height:  1.5;
    font-size:  12px;
    text-decoration:  none;
    color:  #444;
}
.center_content {
    float:  left;
    width:  69%;
    margin-left:  4%}
.center_content .inner {
    margin-bottom:  30px;
}
.center_content .inner .tittle {
    font-size:  15px;
    color:  #f76525;
    font-weight:  bold;
    margin-bottom:  5px;
}
.center_content .inner p a {
    -webkit-box-sizing:  inherit;
    box-sizing:  inherit;
    color:  #f76525;
    line-height:  inherit;
    text-decoration:  none;
    font-family:  Arial;
}
.center_content .inner img {
    max-width:  100%;
    margin:  0 auto;
    display:  block;
}
.w-100 {
    width:  100% !important;
}
.w-62 {
    width:  62% !important;
}
.center_content p {
    font-size:  15px;
    text-align:  justify;
}
.center_content p .col-blue {
    color:  #f76525;
    font-weight:  bold;
}
.center_content p .col-red {
    color:  #1889c1;
    font-weight:  bold;
}
footer {
    background:  #1889c1;
    width:  100%;
    height:  5px;
    -ms-box-shadow:  0 3px 4px #777;
    -o-box-shadow:  0 3px 4px #777;
    -webkit-box-shadow:  0 3px 4px #777;
    box-shadow:  0 3px 4px #777;
}
footer .info {
    max-width:  1000px;
    margin:  0 auto;
    padding:  30px 0;
}
footer .info #return-to-top {
    position:  fixed;
    bottom:  20px;
    right:  20px;
    background:  #1889c1;
    width:  50px;
    height:  50px;
    display:  block;
    text-decoration:  none;
    -webkit-border-radius:  35px;
    border-radius:  35px;
    display:  none;
    -webkit-transition:  all 0.3s ease;
    -o-transition:  all 0.3s ease;
    transition:  all 0.3s ease;
}
footer .info #return-to-top i {
    color:  #fff;
    margin:  0;
    position:  relative;
    left:  11px;
    top:  25px;
    font-size:  19px;
    -webkit-transition:  all 0.3s ease;
    -o-transition:  all 0.3s ease;
    transition:  all 0.3s ease;
}
footer .info #return-to-top i.arrow {
    border:  solid #fff;
    border-width:  0 3px 3px 0;
    display:  inline-block;
    padding:  6px;
    margin-left:  7px;
}
footer .info #return-to-top i.up {
    -ms-transform:  rotate(-135deg);
    transform:  rotate(-135deg);
    -webkit-transform:  rotate(-135deg);
}
footer .info #return-to-top:hover {
    background:  #1889c1;
    opacity:  0.7;
}
footer .info #return-to-top:hover i {
    color:  #fff;
    top:  15px;
}
footer .info .contact {
    width:  50%;
    float:  left;
}
footer .info .contact p {
    text-align:  left;
    font-size:  16px;
}
footer .info .contact p .col-blue {
    color:  blue;
}
footer .info .social {
    width:  45%;
    float:  right;
}
footer .info .social ul li {
    display:  inline-block;
    float:  right;
    margin-left:  10px;
}
footer .info .social ul li a:hover {
    opacity:  0.7;
}
.center_content .content-sub p {
    margin-bottom:  20px;
}
.center_content .content-sub p span.icon_tit {
    font-family:  Wingdings;
    color:  #666666;
    border:  1pt none windowtext;
    padding:  5px;
}
.center_content .content-sub .price {
    -webkit-box-sizing:  border-box;
    box-sizing:  border-box;
    color:  #656565;
    margin-bottom:  30px;
}
.center_content .content-sub .price .tittle {
    font-size:  16px;
    font-weight:  600;
}
.center_content .content-sub .price table {
    border:  1px solid #656565;
    -webkit-box-sizing:  border-box;
    box-sizing:  border-box;
}
.center_content .content-sub .price table tr {
    font-size:  16px;
    -webkit-box-sizing:  border-box;
    box-sizing:  border-box;
}
.center_content .content-sub .price table tr:nth-child(9), .center_content .content-sub .price table tr:nth-child(16) {
    border-bottom:  1px solid #656565;
}
.center_content .content-sub .price table tr th {
    border-left:  1px solid #656565;
    text-align:  center;
    -webkit-box-sizing:  border-box;
    box-sizing:  border-box;
    padding:  10px;
}
.center_content .content-sub .price table tr th:nth-child(1) {
    width:  4%;
    border-left:  none;
}
.center_content .content-sub .price table tr th:nth-child(2) {
    width:  38%}
.center_content .content-sub .price table tr th:nth-child(3) {
    width:  17%}
.center_content .content-sub .price table tr th:nth-child(4) {
    width:  20%}
.center_content .content-sub .price table tr th:nth-child(5) {
    width:  20%}
.center_content .content-sub .price table tr td {
    border-left:  1px solid #656565;
    -webkit-box-sizing:  border-box;
    box-sizing:  border-box;
    padding:  10px;
}
.center_content .content-sub .price table tr td:nth-child(1) {
    border-left:  none;
}
.center_content .content-sub .price img {
    max-width:  100%;
    margin:  0 auto;
    display:  block;
}
.auto_scroll {
    display:  block;
    width:  100%;
    overflow-x:  scroll;
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
    .top-banner h1 {
    width:  12%}
.top-banner .info-contact {
    width:  87%}
.info-contact h2 {
    font-size:  3.3vw;
}
.info-contact h3 {
    font-size:  2.64vw;
}
.info-contact p {
    font-size:  2.2vw;
}
header .menu-pc .menu-full .menu-content .parent li {
    margin-right:  15px;
}
.banner {
    padding:  20px 15px 20px 0;
}
}@media only screen and (max-width: 767px) {
    #content, .slide-content, footer .info, .menu-content, #slide .slide-content, header .top-banner h1, .center_content, footer .info .contact, footer .info .social {
    width:  100%}
footer .info .contact, footer .info .social, footer .info .social ul li {
    float:  none;
}
footer .info .social {
    text-align:  center;
    margin-top:  20px;
}
.menu-pc, .menu-left {
    display:  none;
}
header {
    position:  relative;
}
header .header-icon {
    position:  fixed;
    display:  block;
    top:  10px;
    right:  0;
    z-index:  99999;
}
header .menu-sp {
    display:  block;
}
header .menu-sp > ul {
    margin-bottom:  55px;
}
header .top-banner h1 {
    height:  50px;
    position:  fixed;
    top:  0;
    right:  0;
    background:  #fff;
    -webkit-box-shadow:  0 2px 8px -1px rgba(0,  0,  0,  0.2);
    box-shadow:  0 2px 8px -1px rgba(0,  0,  0,  0.2);
    -webkit-transition:  all 0.5s;
    -o-transition:  all 0.5s;
    transition:  all 0.5s;
    z-index:  999;
}
.info-contact h2 {
    font-size:  3.3vw;
    font-size:  16px;
    line-height:  1.5;
}
.info-contact h3 {
    font-size:  3.1vw;
    font-size:  13px;
}
.info-contact p {
    font-size:  3vw;
    font-size:  10px;
}
.top-banner .info-contact {
    margin-top:  50px;
    width:  100%;
    padding:  0 20px;
}
header .top-banner h1 img {
    width:  50px;
    margin-left:  20px;
    position:  relative;
    height:  46px;
    top:  2px;
}
.center_content {
    margin-left:  0;
    padding:  0 20px;
    float:  none;
}
footer {
    padding:  0 20px;
}
footer .info .contact p {
    text-align:  center;
}
header .menu-sp ul>li a {
    padding:  10px 0;
}
footer .info #return-to-top {
    width:  30px;
    height:  30px;
}
footer .info #return-to-top i {
    left:  2px;
    top:  12px;
}
footer .info #return-to-top i.arrow {
    border-width:  0 2px 2px 0;
    padding:  5px;
}
}.social {
    width:  50%;
    float:  right;
}
.social ul {
    font-size:  0;
}
.social ul li {
    display:  inline-block;
}
@media only screen and (max-width: 1300px) {
    .show__pc  {
    display:  none;
}
}
@media only screen and (max-width: 767px) {
    .fb-livechat  {
    display:  none !important;
}
}
.bx-wrapper .bx-caption  {
    display:  none;
}
